body{
    background-color: rgba(245, 245, 245, 0.719);
    font-family:Arial, Helvetica, sans-serif;
}
.menu #menu , #link{
    list-style-type: none;
    text-decoration: none;
    float: right;
    position: relative;
    top: 5px;
    right: 50px;
    margin: 3px;
    font-size: 13px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.918);
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: rgb(0, 0, 0);
    color: rgba(255, 255, 255, 0.918);
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0px;
    left: 0px;
    margin: 0px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#textop{
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 15px;
}
#texto{
    position: relative;
    left: 50px;
}
section{
    margin: 150px;
}
#texto1{
    text-align: center;
    font-weight: bolder;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30pt;
}
#risca{
    background-color:rgba(0, 0, 0, 0.788);
    width: 70px;
    height: 2px;
    margin: 2px;
}
#imagens{
    width: 40px;
}
#divImagens {
    position: fixed;
    top: 100px;
    left: 0px;
}
#conteudo{
    display:flex;
    justify-content: space-between;
}
strong{
    font-size: 30pt;
    color:rgba(0, 0, 0, 0.788);
}
.paragrafo{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    right: 100px;
}
#imagemJ{
    width: 250px;
    border-radius: 5px;
}
#imagensV:hover{
    transform: scale(1.2);
    transition: 5s;
}
#conteudo1{
    display:flex;
    justify-content: space-between;

}
#conteudo2{
    display:flex;
    justify-content: space-between;
   
}
#conteudo3{
    display:flex;
    justify-content: space-between;
 
}
footer{
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100px;
    left: 0px;
    right: 0px;
    margin: 0px;
}
/*#footerMenu{
    display: flex;
    align-items: center;
    justify-content: center;
}*/
#nav1{
    background-color: rgba(255, 255, 255, 0.918);
    width: 45px;
    height: 2px;
    margin: 3px;
    padding: 2px;
    border-radius: 5px;
}
nav{
    /*background-color: aqua;*/
    display: none;
    width: 45px;
    height: 30px;
    margin: 10px;
    padding: 10px;
    float: right;
}
/*input{
    margin: 2px;
    padding: 5px;
}*/

/*media query*/
@media only screen and (max-width: 800px){

    .menu #menu , #link{
        position: relative;
        top: 5px;
        right: 30px;
        margin: 2px;
}
#imagemJ{
    width: 200px;
    height: 200px;
    left: 15px;
}
#conteudo{
    display: flex;
    justify-content: space-around;
}
.paragrafo{
    margin: 50px;
    font-size: 15px;
}
#imagensV{
    width:350px;
    /*margin: 100px;*/
}
#conteudo1 , #conteudo2 , #conteudo3{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#imagensV:hover{
    transform: none;
}
}
@media only screen and (max-width: 760px){

    .menuDiv{
        display: none;
    }
    nav{
        display: inline-block;
    }
    #texto1{
        font-size: 20pt;
    }
}
@media only screen and (max-width: 600px){
    #texto1{
        font-size: 15pt
    }
    #imagensV{
        width: 200px;
    }
}
@media only screen and (max-width: 1124px){
    #i3{
        display: none;
    }
    .paragrafo{
        margin: 100px;
    }
    #imagemJ{
        width: 300px;
        height:300px;
    }
}
@media only screen and (max-width: 500px){
    #imagemJ{
        position: relative;
        width: 200px;
        height: 200px;
        margin: 50px;
        left: 100px;
    }
}